#loginForm button{
    margin-top: 10px;
}
#loginForm #error{
    display: none;
}
#loginForm legend{
    margin-bottom: 0;
}
.navbar-fixed-top{
    position: relative;
    margin-bottom: 18px;
}
